### About me
- Second year Master's Student in Physics at Aix-Marseille University
- M1 at Strasbourg University & bachelors at Rennes1 University

I'm interested in :

- Theoretical & Particle physics
- Simulations & Numerical Calculations

Programming Languages: Python & C++
Boring Languages: English & French


<{% include 'list.md.j2' %}>
